:root {
    flex-grow: 1;
    flex-direction: column;
}

GroupBox {
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    flex-grow: 1;
}

.sidebar {
    background-color: #424242;
    flex-direction: column;
    width: 350px;
    padding: 10px;
}

.header {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
}

.canvas {
    flex-grow: 1;
}

Label {
    padding-left: 4px;
}